*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
  margin: 0;
  background-image: linear-gradient(#492638, #6d414b, #9e6a5b, #e7d8b5);
  background-repeat: no-repeat;
  height: 680px;
}

:root {
  --navBar: 4rem;
}

.dots span {
  display: inline-block;
  vertical-align: middle;
  width: 0.9em;
  height: 0.9em;
  margin: 10px;
  background: #0f3b21;
  border-radius: 0.6em;
  -webkit-animation: dots 1s infinite alternate;
          animation: dots 1s infinite alternate;
}

/* Dots Colors */
.dots span:nth-of-type(2) {
  background: #0e5e2e;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.dots span:nth-of-type(3) {
  background: #0c7235;
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.dots span:nth-of-type(4) {
  background: #00B247;
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.dots span:nth-of-type(5) {
  background: #5AB027;
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}

.dots span:nth-of-type(6) {
  background: #A0B61E;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.dots span:nth-of-type(7) {
  background: #74860e;
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
}

.dots span:nth-of-type(8) {
  background: #afca17;
  -webkit-animation-delay: 1.4s;
          animation-delay: 1.4s;
}

.dots span:nth-of-type(9) {
  background: #cef103;
  -webkit-animation-delay: 1.6s;
          animation-delay: 1.6s;
}

.dots span:nth-of-type(10) {
  background: #f8a623;
  -webkit-animation-delay: 1.8s;
          animation-delay: 1.8s;
}

.dots span:nth-of-type(11) {
  background: #f1913c;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.dots span:nth-of-type(12) {
  background: #e46129;
  -webkit-animation-delay: 2.2s;
          animation-delay: 2.2s;
}

.dots span:nth-of-type(13) {
  background: #a54312;
  -webkit-animation-delay: 2.4s;
          animation-delay: 2.4s;
}

/* Animation */
@-webkit-keyframes dots {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes dots {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* Nav bar */
.logo {
  height: 3rem;
  border-radius: 80%;
}

.nav-bar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: #85586F;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  height: var(--navBar);
  width: 100%;
  box-shadow: 0px 4px #46244C;
  margin-bottom: 1.5rem;
  z-index: 5;
}

.nav-bar a {
  text-decoration: none;
  font-family: "Karla", sans-serif;
  font-size: 20px;
  color: white;
  padding: 1rem;
  border-radius: 1em;
  transition: 500ms;
}

.nav-bar a:hover {
  background-color: rgba(245, 66, 191, 0.6588235294);
  transition: 500ms;
}

.home-button {
  display: flex;
  align-items: center;
  margin-left: 1rem;
}

.home-nav-link {
  margin: 0 1rem;
}

.nav-buttons {
  margin-right: 1rem;
}

/* Content Home Page */
.title {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: "Press Start 2P", cursive;
  font-size: 20px;
  padding-top: 30px;
  padding-bottom: 50px;
}

h2 {
  color: #331323;
  line-height: 1.8;
}

.about-btn a {
  color: white;
  background-color: rgb(72, 46, 99);
  font-family: "Karla", sans-serif;
  font-weight: bold;
  text-decoration: none;
  font-size: 17px;
  padding: 15px 50px;
  margin-left: 100px;
  border: none;
  border-radius: 50px;
}

.about-btn a:hover {
  transition: background-color 0.5s;
  background-color: black;
  cursor: pointer;
}

/* Content About Page */
.img-bottom {
  position: absolute;
  top: 270px;
  left: 850px;
  border-radius: 20px;
}

.img-bottom:hover {
  cursor: pointer;
  transform: scale(1.2);
  transition: transform 0.5s;
}

.img-top {
  position: absolute;
  top: 340px;
  left: 800px;
  border-radius: 20px;
}

.img-top:hover {
  cursor: pointer;
  z-index: 9999;
  transform: scale(1.2);
  transition: transform 0.5s;
}

.title-2 h1 {
  display: flex;
  text-align: center;
  font-family: "Orelega One", cursive;
  color: wheat;
  font-size: 50px;
}

.title-2 p {
  text-align: justify;
  text-justify: inter-word;
  font-family: "Manrope", sans-serif;
  font-weight: bolder;
  font-size: 22px;
  line-height: 1.8;
  padding-top: 30px;
  padding-left: 90px;
  width: 55%;
}

/* Skills page */
.title-3 h1 {
  display: flex;
  justify-content: center;
  font-family: "Orelega One", cursive;
  color: wheat;
  font-size: 50px;
  margin: 0;
  padding: 20px 0px;
}

.icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px auto 30px auto;
}

.icons li {
  list-style: none;
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: 0 20px;
  width: 120px;
  padding: 20px 0;
  font-family: "Karla", sans-serif;
  font-weight: bold;
  font-size: 20px;
}

.icons i {
  margin-bottom: 10px;
  color: #3d0453;
}

.text {
  text-align: center;
  text-justify: inter-word;
  font-family: "Karla", sans-serif;
  font-weight: bolder;
  font-size: 24px;
  line-height: 1.8;
  padding-left: 90px;
  width: 94%;
}

/* Qualifications page */
.title-4 h1 {
  display: flex;
  justify-content: center;
  font-family: "Orelega One", cursive;
  color: wheat;
  font-size: 50px;
  margin: 0;
  padding: 20px 0px;
}

.imgs-qua {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

div.img-middle {
  width: 400px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.466), 0 6px 20px 0 rgba(0, 0, 0, 0.466);
  margin: 25px 20px;
}

div.content {
  text-align: center;
  padding: 10px 20px;
  font-family: "Karla", sans-serif;
  font-weight: bolder;
}/*# sourceMappingURL=index.css.map */